.work_content:nth-child(odd) {
  @media (max-width: 991px) {
    border-right: 1px solid;
    border-color: #b5b5b5;
  }
  @media (min-width: 992px) {
    border-color: #fff !important;
  }
}
.work_content {
  @media (max-width: 991px) {
    border-bottom: 1px solid;
    border-color: #b5b5b5;
  }
  @media (min-width: 992px) {
    padding: 3rem !important;
  }
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  text-align: center !important;
  padding: 1.5rem !important;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.work_content a img {
  width: 100%;
  margin-bottom: 0;
}
figure.hover_parent {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  border: 2px #f3f3f3 solid;
}
figcaption.hover_mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  transition: all 0.4s ease;
  a {
    color: #fff;
    font-weight: bold;
    width: 100%;
    transition: all 0.4s ease;
    padding: 2%;
    letter-spacing: 0.5px;
    font-size: 14px;
    @media (max-width: 767px) {
      font-size: 8px;
    }
  }
}
figcaption.hover_mask:hover {
  opacity: 1;
}

figcaption.hover_mask a:hover {
  opacity: 1;
  background: #fff;
  color: #333;
}
